* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --main-color:rgb(0, 0, 0);
    --secondary-color: rgb(222, 222, 222);
}

body {
    animation: fadeIn 1s forwards;
    font-family: "Exo 2";
}

.top-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    min-height: 50px;
    font-family: "Neuton";
    letter-spacing: 0.2rem;
    color: var(--main-color);
}

.logo {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.logo-img img {
    position: absolute;
    left: 0;
    top: -5px;
    max-width: 60px;
    padding: 10px;
    margin: 0px;
}
.logo-img h3 {
    position: absolute;
    left: 60px;
    top: -5px;
    max-width: 8vh;
    padding: 10px;
}

.menu-links {
    display: flex;
    justify-content: space-around;
    width: 37%;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.menu-links a {
    color: var(--main-color);
    text-decoration: none;
}

.menu-links li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.menu-links li:after {
    content: "";
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    transition: width .3s ease-in-out;
  }

.menu-links li:hover:after {
    width: 100%;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--main-color);
    margin: 5px;
    transition: all 0.3s ease;
}

.top-section {
   background: url('../img/top-img2.jpg');
   min-height: 600px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
   color: var(--secondary-color);
   padding: 4rem;
}

.top-section h3 {
    font-size: 3rem;
    animation: drop 1.5s ease;
}

.top-section h3 b {
    color: rgb(255, 255, 255);
}

.top-section p {
    font-size: 1.2rem;
}


@media screen and (max-width:1200px) {
    .menu-links {
        width: 45%;
    }
}

@media screen and (max-width:1024px) {
    .menu-links {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .logo-font {
        animation: fadeLogoFont 1s ease-in-out forwards;
    }

    .menu-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 50px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .menu-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }
}

.menu-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

@keyframes menuLinkFade {
    from {
        opacity: 0;
        transform: translateX:(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeLogoFont {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes overlineMenu {
    to {
        text-decoration: overline;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}